nav{
    background-color: transparent;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul{
    display: flex;
    list-style: none;
    justify-content: space-around;
    width: 35%;
}